In [1]:
import os

print("Folder saat ini:", os.getcwd())
print("\nIsi folder:")
print(os.listdir())

Folder saat ini: d:\Project preprocessing

Isi folder:
['.venv', 'Dataset_sekolah.xlsx', 'feature_engineering_sekolah.ipynb']

In [2]:
# STEP 2: Import library & load dataset sekolah
import pandas as pd
import numpy as np
from pathlib import Path

# path file dataset (karena 1 folder dengan notebook, cukup nama filenya saja)
data_path = Path("Dataset_sekolah.xlsx")

# baca dataset (sheet pertama)
df = pd.read_excel(data_path)

# tampilkan 5 baris pertama
df.head()

,Gambaran Umum Keadaan Sekolah Dasar Tiap Provinsi (Kota Makassar) Tahun 2023/2024 SD,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Kecamatan,Sekolah,Siswa,Mengulang,Putus Sekolah,Kepala Sekolah & Guru,Tenaga Kependidikan,Rombel,Ruang Kelas,Status
2,Kec. Mariso,10,3437,37,9,178,18,131,103,Negeri
3,Kec. Mamajang,20,5958,8,9,321,27,241,165,Negeri
4,Kec. Tamalate,32,11316,43,6,548,55,397,250,Negeri

In [3]:
# STEP 3a: Cek struktur kolom dan tipe data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 10 columns):
 #   Column                                                                                Non-Null Count  Dtype
---  ------                                                                                --------------  -----
 0   Gambaran Umum Keadaan Sekolah Dasar Tiap Provinsi (Kota Makassar) Tahun 2023/2024 SD  31 non-null     object
 1   Unnamed: 1                                                                            31 non-null     object
 2   Unnamed: 2                                                                            29 non-null     object
 3   Unnamed: 3                                                                            29 non-null     object
 4   Unnamed: 4                                                                            29 non-null     object
 5   Unnamed: 5                                                                            29 non-null     object
 6   Unnamed: 6                                                                            29 non-null     object
 7   Unnamed: 7                                                                            29 non-null     object
 8   Unnamed: 8                                                                            29 non-null     object
 9   Unnamed: 9                                                                            29 non-null     object
dtypes: object(10)
memory usage: 2.8+ KB

In [4]:
# STEP 3b: Ringkasan statistik fitur numerik dan kategorikal
df.describe(include="all")

,Gambaran Umum Keadaan Sekolah Dasar Tiap Provinsi (Kota Makassar) Tahun 2023/2024 SD,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
count,31,31,29,29,29,29,29,29,29,29
unique,17,23,29,15,11,28,24,28,28,3
top,Kec. Ujung Tanah,11,Siswa,0,1,230,27,153,165,Negeri
freq,2,2,1,12,4,2,2,2,2,14

In [5]:
# STEP 4a: Cek nama-nama kolom
df.columns

Index(['Gambaran Umum Keadaan Sekolah Dasar Tiap Provinsi (Kota Makassar) Tahun 2023/2024 SD',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

In [6]:
# STEP 5: Rename kolom agar lebih sederhana dan konsisten
df = df.rename(columns={
    "Siswa": "jumlah_siswa",
    "Mengulang": "mengulang",
    "Putus Sekolah": "putus_sekolah",
    "Kepala Sekolah & Guru": "kepala_guru",
    "Tenaga Kependidikan": "tendik",
    "Rombel": "rombel",
    "Ruang Kelas": "ruang_kelas",
    "Kecamatan": "kecamatan",
    "Sekolah": "nama_sekolah",
    "Status": "status_sekolah"
})

df.head()

,Gambaran Umum Keadaan Sekolah Dasar Tiap Provinsi (Kota Makassar) Tahun 2023/2024 SD,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Kecamatan,Sekolah,Siswa,Mengulang,Putus Sekolah,Kepala Sekolah & Guru,Tenaga Kependidikan,Rombel,Ruang Kelas,Status
2,Kec. Mariso,10,3437,37,9,178,18,131,103,Negeri
3,Kec. Mamajang,20,5958,8,9,321,27,241,165,Negeri
4,Kec. Tamalate,32,11316,43,6,548,55,397,250,Negeri

In [8]:
# STEP 6 (versi aman - tidak pakai rename dulu)

# Cek semua nama kolom
print(df.columns)

# Cari kira-kira nama kolom guru secara otomatis
for col in df.columns:
    if "guru" in col.lower():
        print("Kemungkinan kolom guru:", col)

for col in df.columns:
    if "siswa" in col.lower() or "murid" in col.lower():
        print("Kemungkinan kolom siswa:", col)

for col in df.columns:
    if "kelas" in col.lower():
        print("Kemungkinan kolom kelas:", col)

Index(['Gambaran Umum Keadaan Sekolah Dasar Tiap Provinsi (Kota Makassar) Tahun 2023/2024 SD',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

In [9]:
# STEP 4a: Lihat isi awal file Excel tanpa header
raw = pd.read_excel(data_path, header=None)
raw.head(15)

,0,1,2,3,4,5,6,7,8,9
0,Gambaran Umum Keadaan Sekolah Dasar Tiap Provi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Kecamatan,Sekolah,Siswa,Mengulang,Putus Sekolah,Kepala Sekolah & Guru,Tenaga Kependidikan,Rombel,Ruang Kelas,Status
3,Kec. Mariso,10,3437,37,9,178,18,131,103,Negeri
4,Kec. Mamajang,20,5958,8,9,321,27,241,165,Negeri
5,Kec. Tamalate,32,11316,43,6,548,55,397,250,Negeri
6,Kec. Makasar,21,6841,23,8,390,31,270,201,Negeri
7,Kec. Ujung Pandang,14,4332,4,4,224,29,161,121,Negeri
8,Kec. Wajo,7,1401,0,1,98,7,66,59,Negeri
9,Kec. Bontoala,9,2770,0,2,142,16,105,67,Negeri
10,Kec. Ujung Tanah,17,4533,42,0,236,27,180,112,Negeri
11,Kec. Tallo,34,11517,34,7,565,45,420,256,Negeri
12,Kec. Panakukkang,29,9353,13,12,476,36,344,199,Negeri
13,Kec. Biringkanaya,37,14125,7,3,709,62,518,338,Negeri
14,Kec. Tamalanrea,25,7677,12,4,409,42,291,234,Negeri

In [10]:
# STEP 4b: Load ulang dataset dengan header yang benar (baris ke-2)
df = pd.read_excel(data_path, header=2)

# Cek hasil
df.head()

,Kecamatan,Sekolah,Siswa,Mengulang,Putus Sekolah,Kepala Sekolah & Guru,Tenaga Kependidikan,Rombel,Ruang Kelas,Status
0,Kec. Mariso,10,3437.0,37.0,9.0,178.0,18.0,131.0,103.0,Negeri
1,Kec. Mamajang,20,5958.0,8.0,9.0,321.0,27.0,241.0,165.0,Negeri
2,Kec. Tamalate,32,11316.0,43.0,6.0,548.0,55.0,397.0,250.0,Negeri
3,Kec. Makasar,21,6841.0,23.0,8.0,390.0,31.0,270.0,201.0,Negeri
4,Kec. Ujung Pandang,14,4332.0,4.0,4.0,224.0,29.0,161.0,121.0,Negeri

In [11]:
# STEP 5: Rename kolom agar lebih sederhana & konsisten
df = df.rename(columns={
    "Siswa": "jumlah_siswa",
    "Mengulang": "mengulang",
    "Putus Sekolah": "putus_sekolah",
    "Kepala Sekolah & Guru": "kepala_guru",
    "Tenaga Kependidikan": "tendik",
    "Rombel": "rombel",
    "Ruang Kelas": "ruang_kelas",
    "Kecamatan": "kecamatan",
    "Sekolah": "nama_sekolah",
    "Status": "status_sekolah"
})

df.head()

,kecamatan,nama_sekolah,jumlah_siswa,mengulang,putus_sekolah,kepala_guru,tendik,rombel,ruang_kelas,status_sekolah
0,Kec. Mariso,10,3437.0,37.0,9.0,178.0,18.0,131.0,103.0,Negeri
1,Kec. Mamajang,20,5958.0,8.0,9.0,321.0,27.0,241.0,165.0,Negeri
2,Kec. Tamalate,32,11316.0,43.0,6.0,548.0,55.0,397.0,250.0,Negeri
3,Kec. Makasar,21,6841.0,23.0,8.0,390.0,31.0,270.0,201.0,Negeri
4,Kec. Ujung Pandang,14,4332.0,4.0,4.0,224.0,29.0,161.0,121.0,Negeri

In [12]:
# STEP 6: Feature creation (pembuatan fitur baru)

# 1. Total guru
df["total_guru"] = df["kepala_guru"]

# 2. Rasio siswa per guru
df["rasio_siswa_guru"] = df["jumlah_siswa"] / df["total_guru"].replace(0, np.nan)

# 3. Rasio siswa per rombel
df["rasio_siswa_rombel"] = df["jumlah_siswa"] / df["rombel"].replace(0, np.nan)

# 4. Rasio siswa per ruang kelas
df["rasio_siswa_kelas"] = df["jumlah_siswa"] / df["ruang_kelas"].replace(0, np.nan)

# Tampilkan hasil
df[[
    "kecamatan",
    "jumlah_siswa",
    "total_guru",
    "rombel",
    "ruang_kelas",
    "rasio_siswa_guru",
    "rasio_siswa_rombel",
    "rasio_siswa_kelas"
]].head()

,kecamatan,jumlah_siswa,total_guru,rombel,ruang_kelas,rasio_siswa_guru,rasio_siswa_rombel,rasio_siswa_kelas
0,Kec. Mariso,3437.0,178.0,131.0,103.0,19.308989,26.236641,33.368932
1,Kec. Mamajang,5958.0,321.0,241.0,165.0,18.560748,24.721992,36.109091
2,Kec. Tamalate,11316.0,548.0,397.0,250.0,20.649635,28.503778,45.264000
3,Kec. Makasar,6841.0,390.0,270.0,201.0,17.541026,25.337037,34.034826
4,Kec. Ujung Pandang,4332.0,224.0,161.0,121.0,19.339286,26.906832,35.801653

In [13]:
# STEP 7: Membuat kategori kepadatan kelas

def kategori_kepadatan(x):
    if x < 20:
        return "Rendah"
    elif x < 30:
        return "Sedang"
    else:
        return "Tinggi"

df["kepadatan_kelas"] = df["rasio_siswa_kelas"].apply(kategori_kepadatan)

# Cek hasil
df[["kecamatan", "rasio_siswa_kelas", "kepadatan_kelas"]].head()

            kecamatan  rasio_siswa_kelas kepadatan_kelas
0         Kec. Mariso          33.368932          Tinggi
1       Kec. Mamajang          36.109091          Tinggi
2       Kec. Tamalate          45.264000          Tinggi
3        Kec. Makasar          34.034826          Tinggi
4  Kec. Ujung Pandang          35.801653          Tinggi

In [14]:
# STEP 8: One-Hot Encoding untuk fitur kategorikal
categorical_cols = ["status_sekolah", "kepadatan_kelas", "kecamatan"]

df_encoded = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

df_encoded.head()

,nama_sekolah,jumlah_siswa,mengulang,putus_sekolah,kepala_guru,tendik,rombel,ruang_kelas,total_guru,rasio_siswa_guru,...,kecamatan_Kec. Panakukkang,kecamatan_Kec. Rappocini,kecamatan_Kec. Tallo,kecamatan_Kec. Tamalanrea,kecamatan_Kec. Tamalate,kecamatan_Kec. Ujung Pandang,kecamatan_Kec. Ujung Tanah,kecamatan_Kec. Wajo,kecamatan_Sumber:,kecamatan_Tanggal cutoff:
0,10,3437.0,37.0,9.0,178.0,18.0,131.0,103.0,178.0,19.308989,...,False,False,False,False,False,False,False,False,False,False
1,20,5958.0,8.0,9.0,321.0,27.0,241.0,165.0,321.0,18.560748,...,False,False,False,False,False,False,False,False,False,False
2,32,11316.0,43.0,6.0,548.0,55.0,397.0,250.0,548.0,20.649635,...,False,False,False,False,True,False,False,False,False,False
3,21,6841.0,23.0,8.0,390.0,31.0,270.0,201.0,390.0,17.541026,...,False,False,False,False,False,False,False,False,False,False
4,14,4332.0,4.0,4.0,224.0,29.0,161.0,121.0,224.0,19.339286,...,False,False,False,False,False,True,False,False,False,False

In [15]:
from sklearn.preprocessing import StandardScaler

# STEP 9: Scaling fitur numerik
numeric_features = [
    "jumlah_siswa", "total_guru", "tendik",
    "rombel", "ruang_kelas",
    "rasio_siswa_guru", "rasio_siswa_rombel", "rasio_siswa_kelas"
]

scaler = StandardScaler()
df_encoded[numeric_features] = scaler.fit_transform(df_encoded[numeric_features])

df_encoded.head()

,nama_sekolah,jumlah_siswa,mengulang,putus_sekolah,kepala_guru,tendik,rombel,ruang_kelas,total_guru,rasio_siswa_guru,...,kecamatan_Kec. Panakukkang,kecamatan_Kec. Rappocini,kecamatan_Kec. Tallo,kecamatan_Kec. Tamalanrea,kecamatan_Kec. Tamalate,kecamatan_Kec. Ujung Pandang,kecamatan_Kec. Ujung Tanah,kecamatan_Kec. Wajo,kecamatan_Sumber:,kecamatan_Tanggal cutoff:
0,10,-0.380029,37.0,9.0,178.0,-0.328528,-0.460614,-0.592339,-0.494733,0.603579,...,False,False,False,False,False,False,False,False,False,False
1,20,0.298084,8.0,9.0,321.0,0.185690,0.378848,0.176771,0.281486,0.345910,...,False,False,False,False,False,False,False,False,False,False
2,32,1.739309,43.0,6.0,548.0,1.785480,1.569358,1.231196,1.513665,1.065251,...,False,False,False,False,True,False,False,False,False,False
3,21,0.535598,23.0,8.0,390.0,0.414231,0.600161,0.623351,0.656025,-0.005247,...,False,False,False,False,False,False,False,False,False,False
4,14,-0.139287,4.0,4.0,224.0,0.299961,-0.231670,-0.369049,-0.245040,0.614012,...,False,False,False,False,False,True,False,False,False,False

In [16]:
# STEP 10: Simpan dataset akhir
output_path = "dataset_sekolah_feature_engineered.csv"
df_encoded.to_csv(output_path, index=False)

print("File tersimpan sebagai:", output_path)

File tersimpan sebagai: dataset_sekolah_feature_engineered.csv